/* Map Hover Stationen */
#Siemens_AG_Popup,
#Hauptbahnhof_West_Popup,
#Permosertstrasse_Popup_Kopie,
#Stannebeinplatz_Popup {
    opacity: 0;
}

#Siemens_AG_Popup:hover,
#Hauptbahnhof_West_Popup:hover,
#Permosertstrasse_Popup_Kopie:hover,
#Stannebeinplatz_Popup:hover {
    opacity: 1;
}

#Siemens_AG,
#Hauptbahnhof_West,
#Permosertstrasse,
#Stannebeinplatz {
    cursor: pointer;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
}

.right {
    flex: 1;
    background-color: #FFDD00;
    color: #28526A;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: sans-serif;
}

.right h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.right p {
    font-size: 1em;
    margin-bottom: 20px;
}

.right label {
    font-weight: bold;
    margin-top: 10px;
}

.right select,
.right input[type="date"],
.right button {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.right button {
    background-color: #28526A;
    color: white;
    border: none;
    cursor: pointer;
}


/* Dialog-Grundlayout */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28526A; /* Dunkelblau */
  color: #FFDD00; /* Gelb */
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  width: 480px;
  max-width: 90%;
  z-index: 1000;
  font-family: 'Arial', sans-serif;
}

.hidden {
  display: none;
}

.dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: #FFDD00;
  cursor: pointer;
  background: none;
  border: none;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.info-box {
    background: rgba(217, 217, 217, 0.2); /* 20% transparent */
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 120px;
}

